<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Exames Solicitados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para Atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div>
    <ion-card no-margin class="no-radius" id="action-create">
      <ion-item lines="none" (click)="this.router.navigateByUrl('/solicitation/solicitationCreation')" [button]="true">
        <ion-label>
          <ion-button id="creation" shape="round"> +
          </ion-button>
          <span id="textCreation">Solicitar Exame</span>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div *ngFor="let solicitation of solicitations$ | async">
    <div>
      <ion-item button="true">
        <ion-avatar slot="start">
          <ion-img src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Leito: {{ solicitation.hospitalBed }}</h2>
          <h3>{{ solicitation.hospital }}</h3>
          <p>{{ solicitation.observation }}</p>
        </ion-label>
      </ion-item>
    </div>
  </div>  
</ion-content>