
#textCreation{
  margin-left: 15px;
}
 #creation{
    width: 40px; 
    height: 40px;
}



.P6z4j {
    background-color: #0cb9ec;
    border-radius: 12px;
    padding: 0 5px;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 19px;
    line-height: 19px;
    min-width: 9px;
    vertical-align: top;

   
}