<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Aguardando Parecer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="solicitations">

        <div *ngFor="let exam of exams$ | async; let i = index">
            <div>
                <ion-item (click)="examClick(exam.id)" button="true">

                    <ion-avatar slot="start">
                        <ion-img src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg">
                        </ion-img>
                    </ion-avatar>
                    <ion-label>
                        <div *ngIf="solicitations[i]">
                            <h2>Leito: {{ solicitations[i].hospitalBed }}</h2>
                            <h3>{{ solicitations[i].hospital }}</h3>
                            <p>{{ solicitations[i].observation }}</p>
                        </div>
                        <div *ngIf="!solicitations[i]">
                            <h2>Leito: {{ exam.hospitalBed }}</h2>
                            <h3>{{ exam.hospital }}</h3>
                            <p>{{ exam.observation }}</p>
                        </div>
                    </ion-label>
                </ion-item>
            </div>
        </div>
    </div>

</ion-content>