<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Exames em Atendimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Puxe para Atualizar"
          refreshingSpinner="circles"
          refreshingText="Atualizando...">
        </ion-refresher-content>
      </ion-refresher>

  <div>
    <ion-item (click)="openDetail(solicitation.id)" button="true">
      <ion-avatar slot="start">
        <ion-img src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Dr. Manuel Vilela</h2>
        <h3>Hospital São Francisco</h3>
        <p>Exame aguarda laudo</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openDetail(solicitation.id)" button="true">
      <ion-avatar slot="start">
        <ion-img src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Dr. Manuel Vilela</h2>
        <h3>Hospital São José</h3>
        <p>Exame aguarda execução</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>