:host {
  ion-content {
    --background: #f4f5f8;
  }

  ion-textarea {
    resize: none;
    overflow-y: auto;
  }
}

#the-report {
  margin-left: 10px;
  font-size: 15px;

  strong {
    display: contents;
  }

  span {
    display: flex;
    margin-top: 1px;
  }
}

.box {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: 10px;
  display: inline-block;
}

img {
  max-width: 100%;
  object-fit: fill;
  border-radius: 5px;
}
