<ion-header>
        <ion-toolbar color="primary">
                <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
              </ion-buttons>
            <ion-title align="center">Laudo</ion-title>
        </ion-toolbar>
</ion-header>



<ion-content>
    <div *ngIf="flag">
        <div *ngIf="solicitation">
            <div id="the-report">
                <!-- Solicitation: {{ solicitation | json }} -->
                <span><strong>Solicitante:</strong> {{solicitation.doctorName}}.</span>
                <span><strong>Hospital:</strong> {{solicitation.hospital}}.</span>
                <span><strong>Paciente:</strong> {{solicitation.patientName}}. </span>
                <span><strong>Leito:</strong> {{solicitation.hospitalBed}}.</span>
                <span><strong>Data do laudo:</strong> {{dateMedicalReport}} </span>
                <!--<span><strong>Info. Adicionais:</strong> {{solicitation.observation}}</span>-->
            </div>
        </div>

        <div *ngIf="!solicitation">
            <span><strong>Hospital:</strong> {{exam.hospital}}.</span><br>
            <span><strong>Paciente:</strong> {{exam.patientName}} - {{exam.patientId}}. </span><br>
            <span><strong>Leito:</strong> {{exam.hospitalBed}}.</span>
        </div>

        <ion-item color="medium">
            Imagens
        </ion-item>


        <div>
            <!--<br>-->
            <!-- Exam: {{ exam | json }}-->
            <ion-item color="primary">
                <span>Examinador : {{exam.examinerName}}</span>
            </ion-item>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div class="box">
                            <ion-label align="center"> Olho esquerdo </ion-label>
                            <img [src]="exam.leftEyePics[0]">
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="box">
                            <ion-label align="center"> Olho direito </ion-label>
                            <img [src]="exam.rightEyePics[0]">
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <ion-item color="medium">
            Parecer do Especialista
        </ion-item>
        <div *ngIf="medicalReport">
            <!--<ion-item color="primary">
                Médico : {{medicalReport.reporterName}} | Em: {{dateMedicalReport}}
            </ion-item>-->

            <ion-item padding-top button="true" (click)="openText(medicalReport.report,medicalReport.reporterName,dateMedicalReport)">
                 clique para ver o laudo 
            </ion-item>
        </div>
    </div>

</ion-content>



<!--<div *ngIf="flag;else other_content" id="content">
    <div class="box">
        <div class="person">
            <ion-avatar slot="start">
                <ion-img src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg"></ion-img>
            </ion-avatar>
            {{solicitation.doctorName}}
        </div>
        <div class="section1">
            Paciente: {{solicitation.patientId}} | Hospital: {{solicitation.hospital}} |
            Leito: {{solicitation.hospitalBed}}
        </div>
        <div class="section2">
            {{solicitation.observation}}
        </div>
    </div>

    <span class="title">Exame</span>
    <img [src]="exam.rightEyePics[0]">
    <img [src]="exam.leftEyePics[0]">
    <br>
    <span *ngIf="exam.observation">Observação do Examinador: {{exam.observation}}</span>


    <div *ngIf="medicalReport">
        <span class="title">Laudo</span>
        <div class="box">
            <div class="person">
                <ion-avatar slot="start">
                    <ion-img
                            src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg"></ion-img>
                </ion-avatar>
                {{medicalReport.reporterName}}
            </div>
            <div class="section2">
                {{medicalReport.report}}
            </div>
        </div>
    </div>
</div>

<ng-template #other_content>
    <div class="no-content">
        <div text-center>
            <img id="loader" src="../../../assets/gif/loader.gif">
        </div>
    </div>
    <!--    <div class="no-content">-->
<!--        <div text-center>-->
<!--            <img class="photo" src="../../../assets/svg/no_data.svg">-->
<!--            <p>Clique em uma solicitação para Exibir seu Conteudo</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</ng-template>-->