<ion-content ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">


    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          TeleOftalmo
        </ion-text>
      </h4>
    </div>


    <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm">

      <div padding>
        <ion-item no-padding class="animated fadeInUp">
          <ion-label color="light" position="floating">
            <ion-icon name="mail" item-start></ion-icon>
            Email
          </ion-label>
          <ion-input pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" color="light" type="email" required name="email" [(ngModel)]="loginModel.email"
            #email="ngModel"></ion-input>
        </ion-item>



        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <br>
          <div *ngIf="email.errors.required">Email é obrigatório</div>
          <div *ngIf="email.errors.email">Email deve ser válido</div>
        </div>


        <ion-item no-padding class="animated fadeInUp">
          <ion-label color="light" position="floating">
            <ion-icon name="lock" item-start></ion-icon>
            Senha
          </ion-label>
          <ion-input pattern=".{6,}" color="light" type="password" name="password" [(ngModel)]="loginModel.password"
            #password="ngModel" required></ion-input>
        </ion-item>

        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <br>        
          <div *ngIf="password.errors.required">Senha é obrigatória</div>        
        </div>
      </div>

      



      <div class="btLogin">
        <ion-button icon-left size="medium" type="submit" expand="block" shape="round" [disabled]="!f.form.valid"
          tappable>
          <ion-icon name="log-in"></ion-icon> Login
        </ion-button>
      </div>
    </form>

  </div>
</ion-content>