app-login {

}

:host {
  ion-content {
      --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  }

  ion-button {
    font-weight: 300;
  }

  ion-item {
    --ion-item-background: transparent;
  }

  .logo {
    width: 100px;
    height: 80px;
    margin: 20px auto 8px;
    border-radius: 10%;
    background: url("/assets/img/exemplo_de_logo.png") no-repeat;
    background-size: 100%;
  }

  .paz {
    position: relative;
    z-index: 10;
  }
  
  .invalid-feedback {
    color: red;
  }

  
  
}

.btLogin{

  padding-top: 60px;
}

