<ion-split-pane when="xs">
  <ion-menu>
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title slot="start">Dr. Cláudio Bastos</ion-title>
        <ion-buttons slot="end">
          <ion-button title="Sair" (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-toolbar>
      <ion-searchbar placeholder="Buscar Solicitação"></ion-searchbar>
    </ion-toolbar>

    <ion-content>
      <app-solicitation-list></app-solicitation-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Solicitação</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content padding>
      <!--<app-solicitation-detail></app-solicitation-detail>-->
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>

</ion-split-pane>
