.edit-avatar {
  border-radius: 50%;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text {
  padding-top: 20px;
}
.profile {
  padding-top: 20%;
  padding-bottom: 20%;
}
.divider {
  color: aquamarine;
}
.logOff {
  padding-top: 20%;
}
section:not(.full-width),
.full-width > header {
  padding: 0 10px;
}
