<ion-menu menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div align="center" class="profile" *ngIf="isUserLoaded">
      <ion-img class="edit-avatar" src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg">
      </ion-img>

      <ion-text class="text">{{profileName}}</ion-text><br>
      <ion-text class="text">{{profileEmail}}</ion-text><br>
      <ion-text class="text">{{profileJobRole}}</ion-text>

    </div>



    <ion-item-divider color="aquamarine">

    </ion-item-divider>

    <!--<ion-item button="true">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item button="true">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>-->



    <section class="full-width">
        <ion-button (click)="logout()" expand="full" color="primary">logOff</ion-button>
    </section>


  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
