<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="solicitados">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Solicitados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="em-andamento">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Em Andamento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="laudados">
      <ion-icon name="filing"></ion-icon>
      <ion-label>Laudados</ion-label>
      <ion-badge *ngIf="flag && totalNotRead > 0" >{{totalNotRead}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
