<div *ngIf="isLoading" text-center>
  <img id="loader" src="../../../assets/gif/loader.gif">
</div>

<!--<ion-virtual-scroll [items]="solicitations$ | async" approxItemHeight="90px">-->
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para Atualizar" refreshingSpinner="circles"
    refreshingText="Atualizando...">
  </ion-refresher-content>
</ion-refresher>

<ion-list>
  <div *ngFor="let solicitation of solicitations$ | async">
    <ion-item (click)="solicitationClick(solicitation.id)" button="true">
      <ion-avatar slot="start">
        <ion-img src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ solicitation.doctorName }}</h2>
        <h3>{{ solicitation.hospital }}</h3>
        <p>{{ solicitation.observation }}</p>
      </ion-label>
    </ion-item>

  </div>
</ion-list>
<!--</ion-virtual-scroll>-->