  <div id="main" *ngIf="!loaded">
    <input type="file" id="input-photo" accept="image/*" style="display: none" (change)="loadImage($event)" />
    <label for="input-photo" text-center>
      <div>
        <ion-icon [name]="ionicon"></ion-icon><br>
        <span>{{ text }}</span>
      </div>
    </label>
  </div>
  <div *ngIf="loaded">
    <img id="blah" [src]="imageTop" alt="your image" />
  </div>

