<ion-app>
      <div *ngIf="showSplash" class="splash">           

            <div class="spinner">
                  <div class="cube1"></div>
                  <div class="cube2"></div>
            </div>
      </div>

      <app-menu></app-menu>
</ion-app>