<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Exames</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para Atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center" id="action-create">
      <!--<ion-button href="/exam/creation">+</ion-button>-->
      <ion-button (click)="openExamCreation($event)">+</ion-button>
      <span>Criar Exame</span>
    </ion-row>
   
    <app-solicitation-list (solicitation)="openExamCreation($event)"></app-solicitation-list>

  </ion-grid>
</ion-content>