:host {
  ion-content {
      --background: var(--ion-color-light-tint);
  }

  ion-item {
      border-radius: 0;
      border-bottom: 10px var(--ion-color-medium);
  }

  ion-card {
      &.no-radius {
          border-radius: 0;
      }
  }

  #action-create {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
    ion-button {
      margin-right: 10px;
    }
    
  }

  
}
