<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Laudos Recebidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Puxe para Atualizar"
          refreshingSpinner="circles"
          refreshingText="Atualizando...">
        </ion-refresher-content>
      </ion-refresher>
      
  <!--<div>
      <ion-item (click)="openDetail(solicitation.id)"  button="true">
        <ion-avatar slot="start">
          <ion-img src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Dr. Manuel Vilela</h2>
          <h3>Hospital Santa Rita</h3>
          <p>Laudado em: 13/08/2019</p>
        </ion-label>
      </ion-item>
      <ion-item (click)="openDetail(solicitation.id)"  button="true">
        <ion-avatar slot="start">
          <ion-img src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Dr. Manuel Vilela</h2>
          <h3>Hospital Santa Clara</h3>
          <p>Laudado em: 10/08/2019</p>
        </ion-label>
      </ion-item>
    </div>-->

  <div *ngFor="let solicitation of solicitations$ | async">
    <div>
      <ion-item (click)="openSolicitation(solicitation.id)" button="true">

        <ion-avatar slot="start">
          <ion-img src="https://citilab.org.pk/wp-content/uploads/2018/07/Doctor-placeholder-male.jpg"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Leito: {{ solicitation.hospitalBed }}</h2>
          <h3>{{ solicitation.hospital }}</h3>
          <p>{{ solicitation.observation }}</p>         
        </ion-label>
        
      </ion-item>
    </div>
  </div>

</ion-content>