<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title align="center">Solicitação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
    
  <ion-item color="medium">
    <h5>Preencha os campos:</h5>
  </ion-item>

  
  <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm">
    <ion-item>
      <ion-label>Hospital:</ion-label>
      <ion-select id="select-hospital" name="hospital" [(ngModel)]="formModel.hospital" #hospital="ngModel" required>
        <ion-select-option value="Hospital Santa Clara">Santa Clara</ion-select-option>
        <ion-select-option value="Hospital São Francisco">São Francisco</ion-select-option>
        <ion-select-option value="Hospital São José">São José</ion-select-option>
        <ion-select-option value="Hospital Pavilhão Pereira Filho">Pavilhão Pereira Filho</ion-select-option>
        <ion-select-option value="Hospital Santa Rita">Santa Rita</ion-select-option>
        <ion-select-option value="Hospital da Criança Santo Antônio">da Criança Santo Antônio</ion-select-option>
        <ion-select-option value="Hospital Dom Vicente Scherer">Dom Vicente Scherer</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="hospital.touched ">
      <div *ngIf="hospital.errors?.required" class="invalid-feedback">
        O Hospital é obrigatório
      </div>
    </div>

    
   
        
    <ion-item>
      <ion-label position='floating'>Nome do paciente:</ion-label>
      <ion-input type="text" name="nomePaciente" #nomePaciente="ngModel" [(ngModel)]="formModel.patientName" required>
      </ion-input>
    </ion-item>
    <div *ngIf="nomePaciente.touched ">
      <div *ngIf="nomePaciente.errors?.required" class="invalid-feedback">
        O nome do paciente é obrigatório
      </div>
    </div>
    


    <ion-grid>
      <ion-row>
        <ion-col size="7">

    <ion-item>
      <ion-label position='floating'>Leito do paciente:</ion-label>
      <ion-input type="text" name="leito" #leito="ngModel" [(ngModel)]="formModel.leito" required></ion-input>
    </ion-item>
    <div *ngIf="leito.touched ">
      <div *ngIf="leito.errors?.required" class="invalid-feedback"> 
           <span>Leito é obrigatório</span>
      </div>
    </div>
  </ion-col>
  
  
  <ion-col size="5"> 
    <ion-item>
      <ion-label position='floating'>Andar:</ion-label>
      <ion-input type="number" name="andar" #andar="ngModel" [(ngModel)]="formModel.andar" required></ion-input>
    </ion-item>
    <div *ngIf="andar.touched " >
      <div *ngIf="andar.errors?.required" class="invalid-feedback" >
        <span>Andar é obrigatório</span>
      </div>
    </div>
  </ion-col>

    </ion-row>
  </ion-grid>

    <ion-item>
      <ion-label position='floating'>Prontuário do paciente:</ion-label>
      <ion-input type="text" name="patientId" #patientId="ngModel" [(ngModel)]="formModel.patientId"></ion-input>
    </ion-item>

    <ion-item text-wrap>
      <ion-label position='floating'>Informações Adicionais</ion-label>
      <ion-textarea type="textarea" name="observation" [(ngModel)]="formModel.observation"></ion-textarea>
    </ion-item>

    <div padding-top>
      <ion-button [disabled]="!f.form.valid" type="submit" size="large" expand="block">Solicitar Exame</ion-button>
    </div>
  </form>

</ion-content>