<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button> </ion-back-button>
        </ion-buttons>
        <ion-title align="center">Realização do Exame</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <div *ngIf="solicitationId && solicitation">
        <ion-item color="medium">
            A solicitação
            <!--Você abriu Solicitacao Numero: {{ solicitationId }}-->
        </ion-item>
        <div id="the-solicitation">
            <span><strong>Solicitante:</strong> {{solicitation.doctorName}}.</span>
            <span><strong>Hospital:</strong> {{solicitation.hospital}}.</span>
            <span><strong>Paciente:</strong> {{solicitation.patientName}}.</span>
            <span><strong>Leito:</strong> {{solicitation.hospitalBed}}.</span>
            <span><strong>Prontuário:</strong> {{solicitation.patientId}}.</span>
            <span><strong>Info. Adicionais:</strong> {{solicitation.observation}}</span>
        </div>
        <ion-item color="medium">
            Realizar Exame
        </ion-item>

        <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm">
            <ion-grid class="gridOlhos">
                <ion-row>
                    <ion-col [size]="6">
                        <div class="photo-picker">
                            <div class="main" *ngIf="!images[0]">
                                <input type="file" id="input-photo0" accept="image/*" style="display: none"
                                    (change)="loadImage($event, 0)" name="leftEye" [(ngModel)]="formModel.leftEye"
                                    #leftEye="ngModel" />
                                <label for="input-photo0" text-center>
                                    <div>
                                        <ion-icon name="eye"></ion-icon>
                                        <br>
                                        <span>Foto Olho Esquerdo</span>
                                    </div>
                                </label>
                            </div>
                            <div *ngIf="images[0]">
                                <img [src]="images[0][1]" alt="your image" />
                            </div>
                        </div>
                        <!--          <app-photo-picker ionicon="eye" text="Foto Olho Esquerdo" [parentForm]="formModel"></app-photo-picker>-->
                    </ion-col>
                    <ion-col [size]="6">
                        <div class="photo-picker">
                            <div class="main" *ngIf="!images[1]">
                                <input type="file" id="input-photo1" accept="image/*" style="display: none"
                                    (change)="loadImage($event, 1)" name="rightEye" [(ngModel)]="formModel.rightEye"
                                    #rightEye="ngModel" />
                                <label for="input-photo1" text-center>
                                    <div>
                                        <ion-icon name="eye"></ion-icon>
                                        <br>
                                        <span>Foto Olho Direito</span>
                                    </div>
                                </label>
                            </div>
                            <div *ngIf="images[1]">
                                <img [src]="images[1][1]" alt="your image" />
                            </div>
                        </div>
                        <!--          <app-photo-picker ionicon="eye" text="Foto Olho Direito"></app-photo-picker>-->
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div padding>
                <ion-button type="submit" size="large" expand="block">Finalizar Exame</ion-button>
            </div>
        </form>
    </div>
    



    <form *ngIf="!solicitationId || !(solicitationId && solicitation)" name="form" (ngSubmit)="f.form.valid && save()"
        #f="ngForm">

        <ion-item color="medium">
            Realizar Exame
        </ion-item>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <div *ngIf="!solicitationId || !solicitationId.hospital">
                        <ion-item>
                            <ion-label>Hospital:</ion-label>
                            <ion-select id="select-hospital" name="hospital" [(ngModel)]="formModel.hospital"
                                #hospital="ngModel" required>
                                <ion-select-option value="Hospital Santa Clara">Santa Clara</ion-select-option>
                                <ion-select-option value="Hospital São Francisco">São Francisco</ion-select-option>
                                <ion-select-option value="Hospital São José">São José</ion-select-option>
                                <ion-select-option value="Hospital Pavilhão Pereira Filho">Pavilhão Pereira Filho
                                </ion-select-option>
                                <ion-select-option value="Hospital Santa Rita">Santa Rita</ion-select-option>
                                <ion-select-option value="Hospital da Criança Santo Antônio">da Criança Santo Antônio
                                </ion-select-option>
                                <ion-select-option value="Hospital Dom Vicente Scherer">Dom Vicente Scherer
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div *ngIf="hospital.touched">
                            <div *ngIf="hospital.errors?.required" class="invalid-feedback">
                                O Hospital é obrigatório
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!solicitationId || !solicitationId.hospitalBed">
                        <ion-item>
                            <ion-label position='floating'>Leito do paciente:</ion-label>
                            <ion-input type="text" name="hospitalBed" #hospitalBed="ngModel"
                                [(ngModel)]="formModel.hospitalBed"></ion-input>
                        </ion-item>
                    </div>
                    <div *ngIf="!solicitationId || !solicitationId.patientId">
                        <ion-item>
                            <ion-label position="floating">Prontuário do Paciente:</ion-label>
                            <ion-input type="text" pattern="\d*" required name="patientId"
                                [(ngModel)]="formModel.patientId" #patientId="ngModel"></ion-input>
                        </ion-item>
                        <div *ngIf="f.submitted && patientId.invalid" class="invalid-feedback">
                            <br>
                            <div *ngIf="patientId.errors.required">O número do prontuário do paciente é obrigatório
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!solicitationId || !solicitationId.patientName">
                        <ion-item>
                            <ion-label position="floating">Nome do Paciente:</ion-label>
                            <ion-input type="text" required name="patientName" [(ngModel)]="formModel.patientName"
                                #patientName="ngModel"></ion-input>
                        </ion-item>
                        <div *ngIf="f.submitted && patientName.invalid" class="invalid-feedback">
                            <br>
                            <div *ngIf="patientName.errors.required">O nome do paciente é obrigatório</div>
                        </div>
                    </div>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [size]="6">
                    <div class="photo-picker">
                        <div class="main" *ngIf="!images[0]">
                            <input type="file" id="input-photo0" accept="image/*" style="display: none"
                                (change)="loadImage($event, 0)" name="leftEye" [(ngModel)]="formModel.leftEye"
                                #leftEye="ngModel" />
                            <label for="input-photo0" text-center>
                                <div>
                                    <ion-icon name="eye"></ion-icon>
                                    <br>
                                    <span>Foto Olho Esquerdo</span>
                                </div>
                            </label>
                        </div>
                        <div *ngIf="images[0]">
                            <img [src]="images[0][1]" alt="your image" />
                        </div>
                    </div>
                    <!--          <app-photo-picker ionicon="eye" text="Foto Olho Esquerdo" [parentForm]="formModel"></app-photo-picker>-->
                </ion-col>
                <ion-col [size]="6">
                    <div class="photo-picker">
                        <div class="main" *ngIf="!images[1]">
                            <input type="file" id="input-photo1" accept="image/*" style="display: none"
                                (change)="loadImage($event, 1)" name="rightEye" [(ngModel)]="formModel.rightEye"
                                #rightEye="ngModel" />
                            <label for="input-photo1" text-center>
                                <div>
                                    <ion-icon name="eye"></ion-icon>
                                    <br>
                                    <span>Foto Olho Direito</span>
                                </div>
                            </label>
                        </div>
                        <div *ngIf="images[1]">
                            <img [src]="images[1][1]" alt="your image" />
                        </div>
                    </div>
                    <!--          <app-photo-picker ionicon="eye" text="Foto Olho Direito"></app-photo-picker>-->
                </ion-col>
            </ion-row>
        </ion-grid>

        <!-- Descrição do problema para o examaminador -->
        <ion-item>
            <ion-label position="stacked">Informações Adicionais:</ion-label>
            <ion-textarea placeholder="Você pode forcener informações adicionais..." [(ngModel)]="formModel.observation"
                #observation="ngModel" name="observation"></ion-textarea>
        </ion-item>

        <div padding>
            <ion-button type="submit" size="large" expand="block">Finalizar Exame</ion-button>
        </div>
    </form>

</ion-content>