.invalid-feedback {
  color: red;
}

.photo-picker {
  span {
    text-transform: uppercase;
  }

  .main {
    padding: 5px;
    background-color: rgb(221, 235, 241);
    border-radius: 5px;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 10px;
    display: inline-block;
  }

  img {
    max-width: 100%;
    object-fit: fill;
    border-radius: 5px;
  }

  .main:hover {
    background-color: #c3c3c3;
  }

}

#the-solicitation {
  margin-left: 10px;
  font-size: 15px;
  strong {
    display: contents;
  }
  span {
    display: flex;
    margin-top: 1px;
  }

  .gridOlhos{
     padding-top: 40px;
     scroll-padding-left: 20px;
  }

  .box {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: 10px;
  display: inline-block;
}
}
