:host ion-content {
  --background: #f4f5f8;
}
:host ion-textarea {
  resize: none;
  overflow-y: auto;
}
#the-report {
  margin-left: 10px;
  font-size: 15px;
}
#the-report strong {
  display: contents;
}
#the-report span {
  display: flex;
  margin-top: 1px;
}
.box {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: 10px;
  display: inline-block;
}
img {
  max-width: 100%;
  width: 120px;
  height: 70px;
  object-fit: fill;
  border-radius: 10px;
}
#faixa {
  background-color: red;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 10px;
}
