<ion-header>
    <ion-toolbar color="primary">
            <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        <ion-title align="center">Laudo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="flag">
        <div *ngIf="solicitation">
            <div id="the-report">
                <!-- Solicitation: {{ solicitation | json }} -->
                <span><strong>Solicitante:</strong> {{solicitation.doctorName}}.</span>
                <span><strong>Hospital:</strong> {{solicitation.hospital}}.</span>
                <span><strong>Paciente:</strong> {{solicitation.patientName}}. </span>
                <span><strong>Leito:</strong> {{solicitation.hospitalBed}}.</span>
                <span><strong>Info. Adicionais:</strong> {{solicitation.observation}}</span>
            </div>
        </div>

        <div *ngIf="!solicitation">
            <span><strong>Hospital:</strong> {{exam.hospital}}.</span><br>
            <span><strong>Paciente:</strong> {{exam.patientName}} - {{exam.patientId}}. </span><br>
            <span><strong>Leito:</strong> {{exam.hospitalBed}}.</span>
        </div>

        <ion-item color="medium">
            Imagens
        </ion-item>


        <div>
            <!--<br>-->
            <!-- Exam: {{ exam | json }}-->
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div class="box">
                            <ion-label align="center"> Olho esquerdo </ion-label>
                            <img *ngFor="let picture of exam.leftEyePics" [src]="picture" #myImage
                                (click)="viewImage(picture,'Olho Esquerdo','Imagem do olho Esquerdo')" />
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="box">
                            <ion-label align="center"> Olho direito </ion-label>
                            <img *ngFor="let picture of exam.rightEyePics" [src]="picture" #myImage
                                (click)="viewImage(picture,'Olho Direito','Imagem do olho Direito')" />
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <ion-item color="medium">
            Realizar Laudo
        </ion-item>

        <form (ngSubmit)="medicalReportSave()">
            <ion-item padding-top>

                <!--<ion-label position="stacked">Laudo:</ion-label>-->
                <ion-textarea [(ngModel)]="formModel.report" name="report" placeholder="Informe o Laudo..." required>
                </ion-textarea>

            </ion-item>

            <div padding>
                <ion-button type="submit" size="large" expand="block">Finalizar Laudo
                </ion-button>
            </div>
        </form>
    </div>

</ion-content>